body {
  font-family: 'Jost', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  color: #333;
}

/* Header */
.header {
  background-color: #ff7b00;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.logo {
  font-weight: bold;
  font-size: 1.6rem;
}

.logout-btn {
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #c1121f;
}

/* Perfil */
.perfil-admin {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 15px;
}

.foto-admin {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.info-admin h2 {
  color: #008000;
}

/* Tabla */
.contenido {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: #f7c325;
  color: #000;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

button.editar, button.eliminar {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.editar {
  background-color: #4CAF50;
  color: white;
}

button.eliminar {
  background-color: #e63946;
  color: white;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.guardar {
  background-color: #ff7b00;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.cancelar {
  background-color: #ccc;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}
